Repository UMC-Edison/Edison-Server, pull requests merged in 2025-02, with the labels that each got.

#100 ❕ [!HOTFIX] #99 전체 아이덴티티 조회 응답 DTO 수정
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/keywords/controller/KeywordsRestController.java
  project/src/main/java/com/edison/project/domain/keywords/dto/KeywordsResponseDto.java
  project/src/main/java/com/edison/project/domain/keywords/repository/KeywordsRepository.java
  project/src/main/java/com/edison/project/domain/keywords/service/KeywordsService.java
  project/src/main/java/com/edison/project/domain/keywords/service/KeywordsServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberKeywordRepository.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :service_dog: API, :hammer: refactor

#101 ✨[FEAT] #98: 버블 SYNC 기능 구현
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/global/common/entity/BaseEntity.java
Labels: :sparkles: feature, :service_dog: API

#95 ✨ [FEAT] #87: 라벨 SYNC API
  project/.gitignore
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#92 🐛 [!HOTFIX] #83 refresh토큰으로 access토큰 재발급
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
Labels: :hammer: refactor, ❕hotfix

#106 ❕[!HOTFIX] #104: 버블 SYNC HardDelete 추가 구현
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleLabelRepository.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: ❕hotfix

#108 ✨[FEAT] #103 프로필 회원 정보 조회 API
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#112 ✨[FEAT] #111: 추천바 조회 2가지 API 구현
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterCategory.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
Labels: :sparkles: feature, :service_dog: API, ❕hotfix

#107 ❕ [!HOTFIX] #105 라벨 SYNC 삭제 로직 응답DTO 수정
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :service_dog: API, ❕hotfix

#115 feat: 카테고리별 스크랩한 아트레터 조회 및 카테고리에 해당하는 스크랩 아트레터 조회 api
  project/src/main/java/com/edison/project/common/exception/ExceptionAdvice.java
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/scrap/repository/ScrapRepository.java
Labels: :sparkles: feature, :service_dog: API

#117 ❕[!HOTFIX] #116: 필터에 토큰 없을 경우 예외처리추가
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/global/security/CustomAuthenticationEntryPoint.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
Labels: :hammer: refactor

#118 ❕[!HOTFIX] #114: 구글로그인 토큰발급 방식 변경
  project/build.gradle
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/config/AppConfig.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/util/JwtUtil.java
Labels: :hammer: refactor

#120 🐛[BUG] #119 health check 컨트롤러 추가, 인증 permit
  project/src/main/java/com/edison/project/global/HealthCheckController.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
Labels: :bug: bug

#125 🛠️ [REFACTOR] #124 아트레터 관련 QA
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepositoryCustomImpl.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
Labels: :service_dog: API, :hammer: refactor

#102 ✨[FEAT] #55: 버블 2차원 좌표화 + 클러스터 정보 반환 API, close #55
  project/build.gradle
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/space/controller/SpaceController.java
  project/src/main/java/com/edison/project/domain/space/dto/SpaceInfoResponseDto.java
  project/src/main/java/com/edison/project/domain/space/dto/SpaceResponseDto.java
  project/src/main/java/com/edison/project/domain/space/entity/Space.java
  project/src/main/java/com/edison/project/domain/space/repository/SpaceRepository.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceService.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceServiceImpl.java
  project/src/main/java/com/edison/project/global/config/GptConfig.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#130 ❕ [!HOTFIX] #129 아트보드 접근, accessToken재발급 수정
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
Labels: :broom: chore, :service_dog: API, :hammer: refactor

#132 🛠️[REFACTOR] #131: 라벨 SYNC, 버블 SYNC, 아트레터 QA
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :hammer: refactor

#140 ❕ [!HOTFIX] #139 회원가입/로그인 응답dto 수정
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :broom: chore

#144 ❕[!HOTFIX] #143: 라벨 local_idx 관련 로직 전면 수정
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: ❕hotfix

#138 🛠️ [REFACTOR] #126 아트레터 관련 QA2
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepositoryCustomImpl.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
Labels: :service_dog: API, :hammer: refactor

#142 🛠️ [REFACTOR] #141 개인정보 관련 QA
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :hammer: refactor

#148 ❕[!HOTFIX] #146: 버블 local_idx 관련 로직 전면 수정
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: ❕hotfix

#151 🛠️ [REFACTOR] #150: 그룹 반환 안하도록 수정, 클러스터 정보 api 제거 close #150
  project/src/main/java/com/edison/project/domain/space/controller/SpaceController.java
  project/src/main/java/com/edison/project/domain/space/dto/SpaceInfoResponseDto.java
  project/src/main/java/com/edison/project/domain/space/dto/SpaceResponseDto.java
  project/src/main/java/com/edison/project/domain/space/entity/Space.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceService.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceServiceImpl.java
  project/src/main/resources/static/favicon.ico
Labels: :service_dog: API, :hammer: refactor

#155 🛠️ [REFACTOR] #154 : 아트레터 썸네일 not null로 오류 반환하도록 수정, close #154
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
Labels: :scroll: docs, :hammer: refactor

#156 🛠️ [REFACTOR] #133: 아이덴티티 변경 API QA, close #133
  project/src/main/java/com/edison/project/domain/board/entity/Board.java
  project/src/main/java/com/edison/project/domain/boardartletter/entity/BoardArtletter.java
  project/src/main/java/com/edison/project/domain/images/entity/Images.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :service_dog: API, :hammer: refactor

#149 🛠️ [REFACTOR] #147 아트레터 추천바 QA
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
Labels: :hammer: refactor

#158 🛠️ [REFACTOR] #157: 에디터픽 아트레터 조회 API QA, close #157
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/CountDto.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterLikesRepository.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepository.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/entity/RefreshToken.java
  project/src/main/java/com/edison/project/domain/member/repository/RefreshTokenRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/domain/scrap/repository/ScrapRepository.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
  project/src/main/java/com/edison/project/global/util/JwtUtil.java
Labels: :service_dog: API, :hammer: refactor

#153 🛠️ [REFACTOR] #152 로그인(웹),로그아웃,회원탈퇴, 토큰재발급 QA
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/entity/RefreshToken.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
Labels: :broom: chore, :hammer: refactor

#161 ❕ [!HOTFIX] #160 전체(휴지통포함으로) 버블 조회 api 수정
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
Labels: :hammer: refactor, ❕hotfix

#164 ✨ [FEAT] #96: 페르소나 맞춤형 AI 프롬프팅, close #96
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberKeywordRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/domain/space/controller/SpaceController.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceService.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceServiceImpl.java
Labels: :sparkles: feature, :service_dog: API, :hammer: refactor

#167 🛠️ [REFACTOR] #166 아이덴티티 키워드 API QA
  project/src/main/java/com/edison/project/domain/keywords/controller/KeywordsRestController.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :broom: chore, :hammer: refactor

#171 ❕ [HOTFIX] #170 아트레터 최근 검색어 삭제 query params로 수정
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
Labels: :service_dog: API, ❕hotfix

#173 ✨ [FEAT] #169 : 아트레터 카테고리별 조회 API 설계, close #169
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepository.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/scrap/repository/ScrapRepository.java
Labels: :sparkles: feature, :service_dog: API

#175 ❕ [HOTFIX] #174 아트레터 검색, 조회 api 로그인 없을 때 에러 수정, close #174
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/space/repository/SpaceRepository.java
  project/src/main/java/com/edison/project/domain/space/service/SpaceServiceImpl.java
Labels: :bug: bug, ❕hotfix
