Repository UMC-Edison/Edison-Server, pull requests merged in 2025-01, with the labels that each got.

#3 ✨[FEAT] #2: 엔티티 초기 설계
  project/src/main/java/com/edison/project/ProjectApplication.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepository.java
  project/src/main/java/com/edison/project/domain/board/entity/Board.java
  project/src/main/java/com/edison/project/domain/boardartletter/entity/BoardArtletter.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/entity/BubbleLabel.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/images/entity/Images.java
  project/src/main/java/com/edison/project/domain/keywords/entity/Keywords.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/entity/MemberKeyword.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/scrap/entity/Scrap.java
  project/src/main/java/com/edison/project/global/common/entity/BaseEntity.java
  project/src/main/resources/application.properties
  project/src/main/resources/data.sql
Labels: :sparkles: feature, :sos: help wanted

#6 fix #6: 프로젝트명 에디슨으로 통일
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepository.java
  project/src/main/java/com/edison/project/domain/board/entity/Board.java
  project/src/main/java/com/edison/project/domain/boardartletter/entity/BoardArtletter.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/entity/BubbleLabel.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/images/entity/Images.java
  project/src/main/java/com/edison/project/domain/keywords/entity/Keywords.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/entity/MemberKeyword.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/scrap/entity/Scrap.java
  project/src/main/java/com/edison/project/global/common/entity/BaseEntity.java
Labels: :broom: chore, :gear: settings

#11 🔨 [FIX] #2 오타 수정 example -> edison
  project/src/main/java/com/edison/project/ProjectApplication.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
Labels: :broom: chore, :gear: settings

#9 ✨[FEAT] #3: 응답 통일 코드 및 에러 핸들링 코드 작성
  project/build.gradle
  project/src/main/java/com/edison/project/common/exception/ExceptionAdvice.java
  project/src/main/java/com/edison/project/common/exception/GeneralException.java
  project/src/main/java/com/edison/project/common/response/ApiResponse.java
  project/src/main/java/com/edison/project/common/response/PageInfo.java
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/common/status/SuccessStatus.java
  project/src/main/java/com/edison/project/test/TestController.java
  project/src/main/java/com/edison/project/test/TestService.java
Labels: :sparkles: feature, :gear: settings

#14 ✨ [FEAT] #12: 기본 설정 수정 및 라벨 생성 API 작성
  project/build.gradle
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/entity/Artletter.java
  project/src/main/java/com/edison/project/domain/board/entity/Board.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/keywords/entity/Keywords.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/global/common/entity/BaseEntity.java
Labels: :sparkles: feature, :service_dog: API

#20 ✨[FEAT] #4: 버블 생성 API 구현
  project/build.gradle
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/entity/BubbleLabel.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleLabelRepository.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#19 ✨ [FEAT] #15: 라벨 수정 및 삭제 API 작성
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#26 ✨ [FEAT] #25: 라벨 목록 조회 API 작성
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleLabelRepository.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/repository/LabelRepository.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#23 ✨[FEAT] #10: 구글 회원가입/로그인 API
  project/.DS_Store
  project/build.gradle
  project/gradle/.DS_Store
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/entity/Member.java
  project/src/main/java/com/edison/project/domain/member/entity/RefreshToken.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/member/repository/RefreshTokenRepository.java
  project/src/main/java/com/edison/project/domain/member/service/CustomOidcUserService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/util/JwtUtil.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#29 ✨ [FEAT] #27: 라벨 상세 조회 API 작성
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleLabelRepository.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#37 ✨[FEAT] #32: 전체 버블 목록 조회 구현
  project/src/main/java/com/edison/project/common/response/ApiResponse.java
  project/src/main/java/com/edison/project/common/response/PageInfo.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#39 🐛 [HOTFIX] #33: api 토큰처리 수정
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleRequestDto.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/controller/LabelRestController.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryService.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/security/CustomUserPrincipal.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
  project/src/main/java/com/edison/project/global/util/JwtUtil.java
Labels: :hammer: refactor

#50 🐛 [HOTFIX] #34 라벨 색상 타입 int로 변경
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelRequestDTO.java
  project/src/main/java/com/edison/project/domain/label/dto/LabelResponseDTO.java
  project/src/main/java/com/edison/project/domain/label/entity/Label.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
Labels: :service_dog: API, ❕hotfix

#49 ✨ [FEAT] #43 삭제된 버블 목록 조회(30일 이내)
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#61 ✨[FEAT] #11: 버블 수정 기능 구현 및 버블 출력 dto 형식 수정
  project/src/main/java/com/edison/project/ProjectApplication.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/dto/BubbleResponseDto.java
  project/src/main/java/com/edison/project/domain/bubble/entity/Bubble.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/domain/label/service/LabelQueryServiceImpl.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#56 ✨ [FEAT] #14 로그아웃 및 accessToken 재발급 구현
  project/build.gradle
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/repository/RefreshTokenRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/service/RedisTokenService.java
  project/src/main/java/com/edison/project/global/config/SecurityConfig.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
  project/src/main/java/com/edison/project/global/util/JwtUtil.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API

#67 ✨ [FEAT] #53: 아이덴티티 키워드 설정 API
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/keywords/repository/KeywordsRepository.java
  project/src/main/java/com/edison/project/domain/label/service/LabelCommandServiceImpl.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/entity/MemberKeyword.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberKeywordRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#68 ✨ [FEAT] #54: 아이덴티티 키워드 조회 API
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/keywords/repository/KeywordsRepository.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberRequestDto.java
  project/src/main/java/com/edison/project/domain/member/dto/MemberResponseDto.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberKeywordRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#72 👷🏻‍♀️ [CI/CD] github 설정 파일 추가
  project/.github/ISSUE_TEMPLATE/bug-report.md
  project/.github/ISSUE_TEMPLATE/feature-request.md
  project/.github/PULL_REQUEST_TEMPLATE.md
  project/.github/workflows/dev_deploy.yml
Labels: 👷🏻‍♀️ ci/cd

#75 👷🏻‍♀️ ci: GitHub Actions 설정, build.gradle 수정
  .github/workflows/dev_deploy.yml
  project/build.gradle
Labels: 👷🏻‍♀️ ci/cd

#76 🐛 [BUG] deploy.yml 경로 수정
  .github/workflows/dev_deploy.yml
Labels: 👷🏻‍♀️ ci/cd

#63 ✨ [FEAT] #62: 휴지통 내 버블 hard-delete & 만료 후 자동삭제 기능 구현
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/bubble/repository/BubbleRepository.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleService.java
  project/src/main/java/com/edison/project/domain/bubble/service/BubbleServiceImpl.java
  project/src/main/java/com/edison/project/global/config/SchedulingConfig.java
Labels: :sparkles: feature, :service_dog: API

#69 ✨[FEAT] #28: 아트레터 좋아요+취소, 스크랩+취소 기능 구현
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterLikesRepository.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/scrap/entity/Scrap.java
  project/src/main/java/com/edison/project/domain/scrap/repository/ScrapRepository.java
Labels: :sparkles: feature, :service_dog: API

#65 ✨ [FEAT] #60: 에디터픽 아트레터 조회 API 구현
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/artletter/controller/ArtletterController.java
  project/src/main/java/com/edison/project/domain/artletter/dto/ArtletterDTO.java
  project/src/main/java/com/edison/project/domain/artletter/entity/ArtletterLikes.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterLikesRepository.java
  project/src/main/java/com/edison/project/domain/artletter/repository/ArtletterRepository.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterService.java
  project/src/main/java/com/edison/project/domain/artletter/service/ArtletterServiceImpl.java
  project/src/main/java/com/edison/project/domain/bubble/controller/BubbleRestController.java
  project/src/main/java/com/edison/project/domain/scrap/repository/ScrapRepository.java
  project/src/main/java/com/edison/project/global/security/CustomAuthenticationEntryPoint.java
Labels: :sparkles: feature, :service_dog: API

#89 [FEAT] #86: 전체 아이덴티티 키워드 조회 API
  project/src/main/java/com/edison/project/domain/keywords/controller/KeywordsRestController.java
  project/src/main/java/com/edison/project/domain/keywords/repository/KeywordsRepository.java
  project/src/main/java/com/edison/project/domain/keywords/service/KeywordsService.java
  project/src/main/java/com/edison/project/domain/keywords/service/KeywordsServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#91 ✨ [FEAT] #82: 아이덴티티 변경 API
  project/src/main/java/com/edison/project/common/status/ErrorStatus.java
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberKeywordRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
Labels: :sparkles: feature, :service_dog: API

#93 ✨ [FEAT] #57 계정 탈퇴 API
  project/src/main/java/com/edison/project/domain/member/controller/MemberRestController.java
  project/src/main/java/com/edison/project/domain/member/repository/MemberRepository.java
  project/src/main/java/com/edison/project/domain/member/service/MemberService.java
  project/src/main/java/com/edison/project/domain/member/service/MemberServiceImpl.java
  project/src/main/java/com/edison/project/global/security/JwtAuthenticationFilter.java
  project/src/main/resources/application.properties
Labels: :sparkles: feature, :service_dog: API
